<div class="test-suite-details centered-max-width main-content-padding-x">
  <bitrise-test-suite-details-header
    [testSuite]="testSuite"
    *ngIf="testSuite"
    [previousTestSuite]="previousTestSuite"
    [nextTestSuite]="nextTestSuite"
  ></bitrise-test-suite-details-header>
  <section class="test-suite-details-body-wrapper">
    <ul class="test-suite-details-menu">
      <li *ngFor="let testSuiteDetailsMenuItem of testSuiteDetailsMenuItems">
        <a [routerLink]="[testSuiteDetailsMenuItem.subpath]" routerLinkActive="active">{{
          testSuiteDetailsMenuItem.name
        }}</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </section>
</div>
