// Screen sizes

$screen-small-width: 600px;
$screen-medium-width: 960px;
$screen-large-width: 1280px;
$screen-xlarge-width: 1920px;

// Sizes

$beam-height: 47px;
$grid-size: 8px !default;
$centered-maxwidth: 1528px;
$main-content-padding-x: 24px;
$main-content-padding-x-smallscreen: 16px;
$section-spacing-y: 32px;
$ui-element-notification-bubble-size: 24px;

// Times

$default-hovertime: 0.2s;

// Colors

$white: #ffffff !default;
$white-three: #ececec !default;
$white-darken: #dddddd !default;
$greyish: #acacac !default;
$warm-grey: #777777 !default;
$brownish-grey: #616161 !default;
$black: #222222 !default;
$aqua: #0dd3c5 !default;
$green-teal: #0fc389 !default;
$water-blue-two: #0d83cd !default;
$ocean-blue: #054ab0 !default;
$pale-grey: #f8f0ff !default;
$violet-blue: #760fc3 !default;
$dark-blue-grey: #351d48 !default;
$vivid-pink: #ff2158 !default;

// Z-indices

$zindex-metric_seek_pin: 50;
$zindex-metric_seek_value: 100;

// UI elements

@mixin default-font {
  font-family: TTNorms;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@mixin code-font {
  font-family: Inconsolata;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@mixin ui-element-header-3 {
  @include default-font;
  font-size: 34px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

@mixin ui-element-header-4 {
  @include default-font;
  font-size: 25px;
  font-weight: 700;
}

@mixin ui-element-header-5 {
  @include default-font;
  font-size: 19px;
  font-weight: 500;
}

@mixin ui-element-body {
  @include default-font;
  font-size: 16px;
}

@mixin ui-element-body-highlight {
  @include ui-element-body;
  font-weight: 700;
}

@mixin ui-element-description {
  @include default-font;
  font-size: 13px;
}

@mixin ui-element-subtitle {
  @include default-font;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

@mixin ui-element-tag {
  @include default-font;
  font-size: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

@mixin ui-element-button-secondary {
  @include default-font;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 1px solid $white-darken;
  border-radius: 4px;
  padding: 11px 12px;
  line-height: 24px;
  text-align: center;
  font-size: 16px;
  background-image: linear-gradient(to top, #f8f8f8, $white);
  cursor: pointer;
  color: $dark-blue-grey;
  text-decoration: none;

  ::ng-deep svg {
    fill: $dark-blue-grey;
  }
}

@mixin ui-modifier-button-secondary-hover {
  background-image: linear-gradient(to top, #e4e4e4, #fefefe);
}

@mixin ui-modifier-button-secondary-small {
  padding: 7px 8px;
  line-height: 16px;
  font-size: 13px;
}

@mixin ui-element-code-block {
  @include code-font;
  border-radius: 4px;
  padding: 8px;
  line-height: 16px;
  font-size: 16px;
  color: $black;
  background-color: $white-three;
}

@mixin ui-element-select {
  @include default-font;
  font-size: 16px;
  appearance: none;
  border: 1px solid $white-darken;
  border-radius: 4px;
  padding: 10px 36px 10px 16px;
  color: $dark-blue-grey;
  background-image: url('/assets/images/select-arrows.svg'), linear-gradient(to top, #f8f8f8, $white);
  background-repeat: no-repeat;
  background-position: right 8px center, center;
}

@mixin ui-element-notification-bubble {
  @include default-font;
  @include size($ui-element-notification-bubble-size);
  line-height: $ui-element-notification-bubble-size;
  border-radius: $ui-element-notification-bubble-size / 2;
  text-align: center;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.6px;

  &.error {
    color: white;
    background-color: $vivid-pink;
  }
}

@mixin ui-element-tab {
  @include ui-element-body-highlight;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 0;
  height: 48px;
  box-sizing: border-box;
  justify-content: center;
  border-width: 2px 2px 0;
  border-style: solid;
  border-color: $white;
  @include border-top-radius(4px);
  @include padding-x(16px);
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: rgba($white, 0.2);
  transition: border-color $default-hovertime, color $default-hovertime, background-color $default-hovertime;

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    @include size(100%, 0);
    @include border-top-radius(inherit);
    @include border-x(2px solid $aqua);
    background-color: $aqua;
    transition: height $default-hovertime;
  }

  .text {
    @include ellipsis-oneliner;
  }

  .notification-bubble {
    @include ui-element-notification-bubble;
    flex-shrink: 0;
    margin-left: 8px;
  }

  &:hover,
  &.active {
    color: $dark-blue-grey;
    background-color: $white;
  }

  &.active:before {
    height: 4px;
  }
}

@mixin ui-element-status-rate-indicator {
  display: flex;

  .status-rate {
    @include ui-element-subtitle;
    height: 24px;
    box-sizing: border-box;
    padding-right: 8px;
    overflow: hidden;
    line-height: 24px;
  }

  &.text-top .status-rate {
    border-bottom: 6px solid;
  }

  &.text-bottom .status-rate {
    border-top: 6px solid;
  }
}

// UI modifiers

@mixin ui-modifier-header-5-underlined-purple-bold {
  border-bottom: 2px solid $white-three;
  @include padding-y($grid-size - 1px);
  line-height: 6 * $grid-size;
  font-weight: 700;
  color: $dark-blue-grey;
}

@mixin ui-modifier-button-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

@mixin ui-modifier-code-block-greyer {
  color: $brownish-grey;
}

@mixin ui-modifier-code-block-multiliner {
  padding: 12px 16px;
  line-height: 24px;
}

@mixin ui-modifier-container-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
}

@mixin ui-modifier-status-rate-with-color($color) {
  @include border-y-color($color);
  color: $color;
}
