<div class="test-summary-header">
  <div class="test-case-counters-by-types">
    <div class="total-counter">
        <div class="icon" [inlineSVG]="'/assets/images/test-sum-icon.svg'"></div>
        <div class="counter-and-title">
          <h2 class="counter">10</h2>
          <p class="title">Total</p>
        </div>
    </div>
    <div class="failed-counter">
        <div class="icon" [inlineSVG]="'/assets/images/test-failed-icon.svg'"></div>
        <div class="counter-and-title">
          <h2 class="counter">3</h2>
          <p class="title">Failed</p>
        </div>
    </div>
    <div class="passed-counter">
        <div class="icon" [inlineSVG]="'/assets/images/test-passed-icon.svg'"></div>
        <div class="counter-and-title">
          <h2 class="counter">8</h2>
          <p class="title">Passed</p>
        </div>
    </div>
    <div class="skipped-counter">
        <div class="icon" [inlineSVG]="'/assets/images/test-skipped-icon.svg'"></div>
        <div class="counter-and-title">
          <h2 class="counter">3</h2>
          <p class="title">Skipped</p>
        </div>
    </div>
    <div class="inconclusive-counter">
        <div class="icon" [inlineSVG]="'/assets/images/test-inconclusive-icon.svg'"></div>
        <div class="counter-and-title">
          <h2 class="counter">1</h2>
          <p class="title">Inconclusive</p>
        </div>
    </div>
  </div>
  <div class="percentage-diagram">

  </div>
</div>
