<section class="test-summary-header">
  <div class="test-summary-row">
    <div class="test-counts">
      <div class="count-indicator total">
        <div class="icon" [inlineSVG]="'/assets/images/hashtag.svg'"></div>
        <div class="count-wrapper">
          <div class="count">{{ totalTestCount }}</div>
          <div class="name">total</div>
          <div class="note" [hidden]="testCountsByStatuses[TestSuiteStatus.inProgress] === 0">
            {{ testCountsByStatuses[TestSuiteStatus.inProgress] }} in progress
          </div>
        </div>
      </div>
      <div
        class="count-indicator"
        *ngFor="let testSuiteStatus of visibleTestSuiteStatuses"
        [ngClass]="TestSuite.statusCssClass(testSuiteStatus)"
        [class.filtered-out]="isStatusFilteredOut(testSuiteStatus)"
      >
        <div
          class="icon"
          *ngIf="testSuiteStatus === TestSuiteStatus.failed"
          [inlineSVG]="'/assets/images/sign-cross.svg'"
        ></div>
        <div
          class="icon"
          *ngIf="testSuiteStatus === TestSuiteStatus.passed"
          [inlineSVG]="'/assets/images/sign-check.svg'"
        ></div>
        <div
          class="icon"
          *ngIf="testSuiteStatus === TestSuiteStatus.skipped"
          [inlineSVG]="'/assets/images/sign-arrowheads.svg'"
        ></div>
        <div
          class="icon"
          *ngIf="testSuiteStatus === TestSuiteStatus.inconclusive"
          [inlineSVG]="'/assets/images/sign-questionmark.svg'"
        ></div>
        <div class="count-wrapper">
          <div class="count">{{ testCountsByStatuses[testSuiteStatus] }}</div>
          <div class="name">{{ TestSuite.statusName(testSuiteStatus) }}</div>
        </div>
      </div>
    </div>
    <bitrise-status-selector
      [selectedStatus]="selectedStatus"
      (selectedChange)="onStatusSelectorChange($event)"
    ></bitrise-status-selector>
  </div>
  <div class="test-rates text-top">
    <div
      class="status-rate"
      *ngFor="let testSuiteStatus of visibleTestSuiteStatuses"
      [hidden]="testCountsByStatuses[testSuiteStatus] == 0"
      [ngClass]="TestSuite.statusCssClass(testSuiteStatus)"
      [style.width]="(100 * testCountsByStatuses[testSuiteStatus]) / (totalTestCount - testCountsByStatuses[TestSuiteStatus.inProgress]) + '%'"
    >{{ testCountsByStatuses[testSuiteStatus] }} {{ TestSuite.statusName(testSuiteStatus) }}</div>
  </div>
</section>
