@import '../../../sass/constants';
@import '../../../sass/mixins';

.test-summary-header {
  margin-top: 56px;

  .test-counts {
    display: flex;
    justify-content: space-between;
    @include padding-x(40px);

    .count-indicator {
      display: flex;
      align-items: flex-start;

      .icon {
        flex-shrink: 0;

        ::ng-deep svg {
          @include size(48px);
          fill: $dark-blue-grey;
        }
      }

      .count-wrapper {
        margin-top: 8px;
        margin-left: 8px;
        color: $dark-blue-grey;

        .count {
          @include default-font;
          font-size: 25px;
          font-weight: 700;
        }

        .name {
          @include ui-element-subtitle;
        }
      }

      @mixin count-indicator-with-color($color) {
        .icon ::ng-deep svg {
          fill: $color;
        }

        .name {
          color: $color;
        }
      }

      &.failed {
        @include count-indicator-with-color($vivid-pink);
      }

      &.passed {
        @include count-indicator-with-color($green-teal);
      }

      &.skipped {
        @include count-indicator-with-color($warm-grey);
      }

      &.inconclusive {
        @include count-indicator-with-color($ocean-blue);
      }
    }
  }

  .test-rates {
    @include ui-element-status-rate-indicator;
    margin-top: 32px;

    .status-rate.failed {
      @include ui-modifier-status-rate-with-color($vivid-pink);
    }

    .status-rate.passed {
      @include ui-modifier-status-rate-with-color($green-teal);
    }

    .status-rate.skipped {
      @include ui-modifier-status-rate-with-color($warm-grey);
    }

    .status-rate.inconclusive {
      @include ui-modifier-status-rate-with-color($ocean-blue);
    }
  }

  @include width-max(800px) {
    .test-counts {
      flex-wrap: wrap;

      .count-indicator {
        margin-bottom: 16px;

        &.total {
          width: 100%;
        }

        &:not(.total) {
          width: 50%;
        }
      }
    }
  }

  @include width-max(420px) {
    .test-counts {
      display: block;

      .count-indicator.total,
      .count-indicator:not(.total) {
        width: auto;
      }
    }
  }
}
