@import '../../../sass/constants';
@import '../../../sass/mixins';

.test-summary-header {
  margin-top: 56px;

  .test-summary-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .test-counts {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-right: 40px;

    .count-indicator {
      display: flex;
      align-items: flex-start;

      .icon {
        flex-shrink: 0;

        ::ng-deep svg {
          @include size(48px);
        }
      }

      .count-wrapper {
        margin-top: 8px;
        margin-left: 8px;
        color: $dark-blue-grey;

        .count {
          @include default-font;
          font-size: 25px;
          font-weight: 700;
        }

        .name {
          @include ui-element-subtitle;
        }

        .note {
          @include ui-element-tag;
          color: $brownish-grey;

          &[hidden] {
            display: block;
            visibility: hidden;
          }
        }
      }

      &.total .icon ::ng-deep svg {
        fill: $dark-blue-grey;
      }

      &.failed .name {
        color: $vivid-pink;
      }

      &.passed .name {
        color: $green-teal;
      }

      &.skipped .name {
        color: $warm-grey;
      }

      &.inconclusive .name {
        color: $ocean-blue;
      }

      &.filtered-out {
        opacity: 0.5;
      }
    }
  }

  .test-rates {
    @include ui-element-status-rate-indicator;
    margin-top: 2 * $grid-size;

    .status-rate.failed {
      @include ui-modifier-status-rate-with-color($vivid-pink);
    }

    .status-rate.passed {
      @include ui-modifier-status-rate-with-color($green-teal);
    }

    .status-rate.skipped {
      @include ui-modifier-status-rate-with-color($warm-grey);
    }

    .status-rate.inconclusive {
      @include ui-modifier-status-rate-with-color($ocean-blue);
    }
  }

  @include width-max-screen-medium {
    .test-summary-row {
      flex-direction: column-reverse;
    }

    .test-counts {
      flex-wrap: wrap;
      padding: 0;
      padding-top: 20px;

      .count-indicator {
        margin-bottom: 16px;

        &.total {
          width: 100%;
        }

        &:not(.total) {
          width: 50%;
        }
      }
    }
  }

  @include width-max(420px) {
    .test-counts {
      display: block;

      .count-indicator.total,
      .count-indicator:not(.total) {
        width: auto;
      }
    }
  }
}
