@import '../../../sass/constants';
@import '../../../sass/mixins';

.app-header {
  margin-top: $beam-height;
  padding-top: 40px;
  background-image: linear-gradient(to left, $aqua, $water-blue-two);

  .app-header-content {
    box-sizing: border-box;

    .opening {
      display: flex;
      align-items: center;

      .icon {
        ::ng-deep svg {
          @include size(58px, 64px);
        }
      }

      .text {
        margin-left: 24px;
        color: $white;

        .title-with-tag {
          display: flex;
          align-items: center;

          .title {
            @include ui-element-header-3;
            @include margin-y(0);
            color: inherit;
          }

          .tag {
            @include ui-element-tag;
            @include margin-y(0);
            margin-left: 24px;
            color: inherit;
          }
        }

        .description {
          @include ui-element-body;
          @include margin-y(0);
          color: inherit;
        }
      }
    }

    .tabmenu {
      display: flex;
      margin-top: 48px;

      .tabmenu-item {
        @include ui-element-tab;
        flex-grow: 1;
        max-width: 240px;

        &:not(:first-child) {
          margin-left: 16px;
        }
      }
      .status-offset {
        flex-grow: 1;
      }
      .status-select {
        height: 48px;
        flex-grow: 0.5;
        display: block;
      }
    }
  }

  $wrap-title-tag-maxwidth: 650px;

  @include width-max($wrap-title-tag-maxwidth) {
    .app-header-content .opening {
      align-items: flex-start;

      .text {
        .title-with-tag {
          display: block;

          .tag {
            margin-left: 0;
          }
        }

        .description {
          margin-top: 8px;
        }
      }
    }
  }
}

:host .status-select {
  @include ui-element-select;
  @include ui-modifier-button-shadow;

  &.inconclusive,
  &.passed,
  &.failed,
  &.skipped {
    padding-left: $ui-element-select-horizontal-padding-default + 24px;
    background-image: $ui-element-select-background-image-arrow, $ui-element-select-background-image-gradient;
    background-position: 8px 10px, $ui-element-select-background-position-arrow,
      $ui-element-select-background-position-gradient;
  }

  &.inconclusive {
    background-image: url('/assets/images/sign-questionmark.svg'), $ui-element-select-background-image-arrow,
      $ui-element-select-background-image-gradient;
  }
  &.passed {
    background-image: url('/assets/images/sign-check.svg'), $ui-element-select-background-image-arrow,
      $ui-element-select-background-image-gradient;
  }
  &.failed {
    background-image: url('/assets/images/sign-cross.svg'), $ui-element-select-background-image-arrow,
      $ui-element-select-background-image-gradient;
  }
  &.skipped {
    background-image: url('/assets/images/sign-arrowheads.svg'), $ui-element-select-background-image-arrow,
      $ui-element-select-background-image-gradient;
  }
}

@include width-above-screen-small {
  .tabmenu-screen-small {
    display: none;
  }
}

.tabmenu-dropdown {
  @include ui-element-select;
  @include ui-modifier-button-shadow;

  flex-grow: 0.5;
  display: block;
  margin: auto 1em 1em auto;

  @include width-max-screen-small {
    width: 100%;
  }
}

@include width-max-screen-small {
  .app-header {
    @include padding-y(16px);

    .app-header-content {
      .opening .text {
        margin-left: 16px;
      }

      .tabmenu {
        display: none;
      }
    }
  }

  .tabmenu-screen-small {
    box-sizing: border-box;

    .summed-failed-test-count {
      display: flex;
      justify-content: center;
      align-items: center;
      @include margin-y(8px);

      .icon ::ng-deep svg {
        fill: $vivid-pink;
      }

      .text {
        @include ui-element-subtitle;
        margin-left: 8px;
        color: $vivid-pink;
      }
    }

    .status-select {
      display: block;
      margin-bottom: 16px;
      width: 100%;
    }
  }
}
