<section class="app-header">
  <div class="app-header-content centered-max-width main-content-padding-x">
    <div class="opening">
      <div class="icon" [inlineSVG]="'/assets/images/app_header/icon.svg'"></div>
      <div class="text">
        <div class="title-with-tag">
          <h1 class="title">Test Reports</h1>
          <p class="tag">add-on provided by Bitrise</p>
        </div>
        <p class="description">All your favourite tests at one place</p>
      </div>
    </div>
    <nav class="tabmenu">
      <a
        class="tabmenu-item"
        *ngFor="let tabmenuItem of tabmenuItems"
        [routerLink]="tabmenuItem.routerLink"
        routerLinkActive="active"
      >
        <span class="text">{{ tabmenuItem.name }}</span>
        <span class="notification-bubble error failed-test-count" *ngIf="tabmenuItem.failedTestCount > 0"
          >{{ tabmenuItem.failedTestCount | maximizeTo: 9 }}</span
        >
      </a>
      <div class="status-offset"></div>
      <ng-container [ngTemplateOutlet]="statusSelect"></ng-container>
    </nav>
  </div>
</section>
<section class="tabmenu-screen-small centered-max-width main-content-padding-x">
  <div class="summed-failed-test-count">
    <div class="icon" [inlineSVG]="'/assets/images/sign-cross.svg'"></div>
    <span class="text">{{ summedFailedTestCount }} failed tests</span>
  </div>
  <select class="tabmenu-select" [(ngModel)]="selectedSmallTabmenuItem" (change)="selectedSmallTabmenuItemChanged()">
    <option *ngFor="let tabmenuItem of tabmenuItems" [ngValue]="tabmenuItem">{{ tabmenuItem.name }}</option>
  </select>
  <ng-container [ngTemplateOutlet]="statusSelect"></ng-container>
</section>
<ng-template #statusSelect>
  <select class="status-select" [ngClass]="TestSuite.statusCssClass(selectedStatus)" [(ngModel)]="selectedStatus" (change)="selectedStatusChanged()">
    <option *ngFor="let item of statusMenuItems" [ngValue]="item.value">{{ item.name }}</option>
  </select>
</ng-template>
