<section class="app-header">
  <div class="app-header-content">
    <div class="opening">
      <div class="icon" [inlineSVG]="'/assets/images/app_header/icon.svg'"></div>
      <div class="text">
        <div class="title-with-tag">
          <h1 class="title">Test Reports</h1>
          <p class="tag">add-on provided by Bitrise</p>
        </div>
        <p class="description">All your favourite tests at one place</p>
      </div>
    </div>
    <nav class="tabmenu">
      <a
        class="tabmenu-item"
        *ngFor="let tabmenuItem of tabmenuItems"
        [routerLink]="tabmenuItem.routerLink"
        routerLinkActive="active"
      >
        <span class="text">{{ tabmenuItem.name }}</span>
        <span class="notification-bubble error failed-test-case-count" *ngIf="tabmenuItem.failedTestCaseCount > 0">{{
          tabmenuItem.failedTestCaseCount | maximizeTo: 9
        }}</span>
      </a>
    </nav>
  </div>
</section>
<section class="tabmenu-screen-small">
  <div class="summed-failed-test-case-count">
    <div class="icon" [inlineSVG]="'/assets/images/sign-cross.svg'"></div>
    <span class="text">{{ summedFailedTestCaseCount }} failed tests</span>
  </div>
  <select class="tabmenu-select" [(ngModel)]="selectedSmallTabmenuItem" (change)="selectedSmallTabmenuItemChanged()">
    <option *ngFor="let tabmenuItem of tabmenuItems" [ngValue]="tabmenuItem">{{ tabmenuItem.name }}</option>
  </select>
</section>
