<section class="app-header">
  <div class="app-header-content">
    <div class="opening">
      <div class="icon" [inlineSVG]="'/assets/images/app_header/icon.svg'"></div>
      <div class="text">
        <div class="title-with-tag">
          <h1 class="title">Test Reports</h1>
          <p class="tag">add-on provided by Bitrise</p>
        </div>
        <p class="description">All your favourite tests at one place</p>
      </div>
    </div>
    <nav class="tabmenu">
      <a class="tabmenu-item" [routerLink]="['/summary']" routerLinkActive="active"
        ><span class="text">Test Summary</span></a
      >
      <a
        class="tabmenu-item"
        [class.with-bubble]="testSuite.failedTestCaseCount > 0"
        *ngFor="let testSuite of testSuites"
        [routerLink]="['/testsuite/' + testSuite.id]"
        routerLinkActive="active"
      >
        <span class="text">{{ testSuite.name }}</span>
        <span class="failed-test-case-count">{{ testSuite.failedTestCaseCount | maximizeTo: 9 }}</span>
      </a>
    </nav>
  </div>
</section>
