@import '../sass/constants';
@import '../sass/mixins';

.app-header {
  display: flex;
  margin-top: $beam-height;
  padding: 43px 77px;
  background-image: linear-gradient(to left, $aqua, $water-blue-two);

  .text {
    margin-left: 23px;
    color: $white;

    .title-with-tag {
      display: flex;
      align-items: center;

      .title {
        @include ui-element-header-3;
        @include margin-y(0);
        color: inherit;
      }

      .tag {
        @include ui-element-tag;
        @include margin-y(0);
        margin-left: 22px;
        color: inherit;
      }
    }

    .description {
      @include ui-element-body;
      margin-top: 3px;
      margin-bottom: 0;
      color: inherit;
    }
  }

  @include width-max(650px) {
    .text {
      margin-left: 16px;

      .title-with-tag {
        display: block;

        .tag {
          margin-left: 0;
          margin-top: 11px;
        }
      }

      .description {
        margin-top: 6px;
      }
    }
  }

  @include width-max($screen-small-width) {
    padding: 20px 21px;
  }
}