@import '../sass/constants';
@import '../sass/mixins';

.app-header {
  margin-top: $beam-height;
  padding-top: 40px;
  @include padding-x(24px);
  background-image: linear-gradient(to left, $aqua, $water-blue-two);

  .app-header-content {
    width: 100%;
    max-width: $content-maxwidth;
    @include margin-x(auto);

    .opening {
      display: flex;
      align-items: center;

      .icon {
        ::ng-deep .stop-start {
          stop-color: #135ea7;
          stop-opacity: 0.855;
        }

        ::ng-deep .stop-end {
          stop-color: #1e568f;
        }

        ::ng-deep .frame-wrapper {
          fill: url(#app_header-icon-stop);
          fill-rule: evenodd;
        }

        ::ng-deep .frame {
          mix-blend-mode: multiply;
        }
      }

      .text {
        margin-left: 24px;
        color: $white;

        .title-with-tag {
          display: flex;
          align-items: center;

          .title {
            @include ui-element-header-3;
            @include margin-y(0);
            color: inherit;
          }

          .tag {
            @include ui-element-tag;
            @include margin-y(0);
            margin-left: 24px;
            color: inherit;
          }
        }

        .description {
          @include ui-element-body;
          @include margin-y(0);
          color: inherit;
        }
      }
    }

    .tabmenu {
      display: flex;
      margin-top: 48px;

      .tabmenu-item {
        @include ui-element-tab;
        flex-grow: 1;
        max-width: 240px;

        &:not(:first-child) {
          margin-left: 16px;
        }
      }
    }
  }

  $wrap-title-tag-maxwidth: 650px;

  @include width-max($wrap-title-tag-maxwidth) {
    .app-header-content .opening {
      align-items: flex-start;

      .text {
        .title-with-tag {
          display: block;

          .tag {
            margin-left: 0;
          }
        }

        .description {
          margin-top: 8px;
        }
      }
    }
  }
}

@include width-above-screen-small {
  .tabmenu-screen-small {
    display: none;
  }
}

@include width-max-screen-small {
  .app-header {
    padding: 18px;

    .app-header-content {
      .opening .text {
        margin-left: 16px;
      }

      .tabmenu {
        display: none;
      }
    }
  }

  .tabmenu-screen-small {
    width: 100%;
    max-width: $content-maxwidth;
    box-sizing: border-box;
    @include margin-x(auto);
    padding: 8px 18px;

    .summed-failed-test-suite-count {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;

      .icon ::ng-deep svg {
        fill: $vivid-pink;
      }

      .text {
        @include ui-element-subtitle;
        margin-left: 8px;
        color: $vivid-pink;
      }
    }

    .tabmenu-select {
      @include ui-element-select;
      @include ui-modifier-shadow;
      display: block;
      width: 100%;
    }
  }
}
