@import '../sass/constants';
@import '../sass/mixins';

:host:not(:last-child) .test-suite {
  margin-bottom: 16px;
}

.test-suite {
  $border-width: 1px;
  $colored-border-left-width: 8px;
  $status-icon-size: 24px;

  display: flex;
  align-items: center;
  height: 64px;
  border: $border-width solid $white-three;
  border-radius: 8px;
  overflow: hidden;
  @include ui-modifier-container-shadow;

  &:before {
    content: '';
    width: $colored-border-left-width;
    height: 100%;
  }

  .status-icon {
    @include size($status-icon-size);
    @include margin-x(16px);
  }

  @mixin test-suite-with-status-class($status-class) {
    $color: '';

    &.#{ $status-class } {
      @if ($status-class == 'inconclusive') {
        $color: $ocean-blue;
      }
      @if ($status-class == 'passed') {
        $color: $green-teal;
      }
      @if ($status-class == 'failed') {
        $color: $vivid-pink;
      }
      @if ($status-class == 'skipped') {
        $color: $warm-grey;
      }

      &:before {
        background-color: $color;
      }

      .status-icon:not(.#{ $status-class }) {
        display: none;
      }

      .status-icon ::ng-deep svg {
        fill: $color;
      }
    }
  }

  .detail {
    flex-grow: 1;
  }

  .detail.device {
    width: $test-suite-info-part-device-x;
    color: $dark-blue-grey;

    .name {
      @include ui-element-body;
    }

    .operating-system {
      @include ui-element-description;
    }
  }

  .detail.duration {
    @include ui-element-body;
    width: $test-suite-info-part-duration-x;
    color: $dark-blue-grey;
  }

  .detail.test-results {
    flex-grow: 1;
    width: $test-suite-info-part-results-x;

    .test-result-bar {
      display: flex;
      @include size(100%, 8px);

      :first-child,
      &:before {
        @include border-left-radius(4px);
      }

      :last-child,
      &:before {
        @include border-right-radius(4px);
      }

      .test-case-bar {
        @include ui-element-subtitle;
        box-sizing: border-box;
        padding-top: 8px;
        @include padding-x(4px);

        &.passed {
          background-color: $green-teal;
          color: $green-teal;
        }

        &.failed {
          background-color: $vivid-pink;
          color: $vivid-pink;
        }
      }
    }
  }

  &.inconclusive .detail.test-results .test-result-bar:before,
  &.skipped .detail.test-results .test-result-bar:before {
    content: '';
    width: 100%;
  }

  &.inconclusive .detail.test-results .test-result-bar:before {
    background-color: $ocean-blue;
  }

  &.skipped .detail.test-results .test-result-bar:before {
    background-color: $warm-grey;
  }

  .detail.orientation {
    width: $test-suite-info-part-orientation-x;
  }

  .detail.locale {
    @include ui-element-body;
    width: $test-suite-info-part-locale-x;
    color: $dark-blue-grey;
  }

  .test-cases-button {
    @include ui-element-button-secondary;
    flex-shrink: 0;
    display: flex;
    width: $test-suite-info-part-test-case-button-x;
    margin-right: 16px;

    &:hover {
      @include ui-element-button-secondary-hover;
    }

    .arrow {
      margin-left: 8px;

      ::ng-deep svg {
        display: block;
      }
    }
  }

  @include test-suite-with-status-class(failed);
  @include test-suite-with-status-class(passed);
  @include test-suite-with-status-class(skipped);
  @include test-suite-with-status-class(inconclusive);
}
