<div class="test-suite" [ngClass]="testSuite.statusCssClass">
  <div class="status-icon failed" inlineSVG="/assets/images/sign-cross.svg"></div>
  <div class="status-icon passed" inlineSVG="/assets/images/sign-check.svg"></div>
  <div class="status-icon skipped" inlineSVG="/assets/images/sign-arrowheads.svg"></div>
  <div class="status-icon inconclusive" inlineSVG="/assets/images/sign-questionmark.svg"></div>
  <div class="detail device">
    <div class="name">{{ testSuite.deviceName }}</div>
    <div class="operating-system">{{ testSuite.deviceOperatingSystem }}</div>
  </div>
  <div class="detail duration">{{ testSuite.durationInMilliseconds | textFromDurationInMilliseconds }}</div>
  <div class="detail test-results"></div>
  <div class="detail orientation">{{ testSuite.orientation }}</div>
  <div class="detail locale">{{ testSuite.locale }}</div>
  <a class="test-cases-button">
    <span>Test Cases</span> <span class="arrow" inlineSVG="/assets/images/arrow-dashed-tail-right.svg"></span>
  </a>
</div>
