@import '../sass/constants';
@import '../sass/mixins';

.test-report {
  margin-top: 32px;

  .name {
    @include ui-element-header-5;
    margin-bottom: 24px;
    @include padding-y(20px);
    border-bottom: 2px solid $white-three;
    line-height: 24px;
    font-weight: 700;
    color: $dark-blue-grey;
  }

  .labels {
    display: flex;

    &:before {
      content: "";
      width: $test-suite-info-part-icon-x;
    }

    .label {
      @include ui-element-subtitle;
      flex-grow: 1;
      line-height: 16px;
      @include padding-y(8px);
      color: $brownish-grey;

      &.devices {
        width: $test-suite-info-part-device-x;
      }

      &.duration {
        width: $test-suite-info-part-duration-x;
      }

      &.results {
        width: $test-suite-info-part-results-x;
      }

      &.orientation {
        width: $test-suite-info-part-orientation-x;
        text-align: center;
      }

      &.locale {
        width: $test-suite-info-part-locale-x;
        text-align: center;
      }
    }

    &:after {
      content: "";
      flex-shrink: 0;
      width: $test-suite-info-part-test-case-button-x;
      margin-right: 16px;
    }
  }

  @include width-max-screen-small {
    .labels {
      display: none;
    }
  }
}
