<section class="test-summary-header">
  <div class="test-suite-counts">
    <div class="count-indicator total">
      <div class="icon" [inlineSVG]="'/assets/images/hashtag.svg'"></div>
      <div class="count-wrapper">
        <div class="count">{{ totalTestSuitesCount }}</div>
        <div class="name">total</div>
      </div>
    </div>
    <div
      class="count-indicator"
      *ngFor="let testSuiteStatus of orderedTestSuiteStatuses"
      [ngClass]="testSuiteClass.statusCssClass(testSuiteStatus)"
    >
      <div
        class="icon"
        *ngIf="testSuiteStatus === testSuiteStatusEnum.failed"
        [inlineSVG]="'/assets/images/sign-cross.svg'"
      ></div>
      <div
        class="icon"
        *ngIf="testSuiteStatus === testSuiteStatusEnum.passed"
        [inlineSVG]="'/assets/images/sign-check.svg'"
      ></div>
      <div
        class="icon"
        *ngIf="testSuiteStatus === testSuiteStatusEnum.skipped"
        [inlineSVG]="'/assets/images/sign-arrowheads.svg'"
      ></div>
      <div
        class="icon"
        *ngIf="testSuiteStatus === testSuiteStatusEnum.inconclusive"
        [inlineSVG]="'/assets/images/sign-questionmark.svg'"
      ></div>
      <div class="count-wrapper">
        <div class="count">{{ testSuiteCountsByStatuses[testSuiteStatus] }}</div>
        <div class="name">{{ testSuiteClass.statusName(testSuiteStatus) }}</div>
      </div>
    </div>
  </div>
  <div class="test-suite-rates">
    <div
      class="rate-indicator"
      *ngFor="let testSuiteStatus of orderedTestSuiteStatuses"
      [hidden]="testSuiteCountsByStatuses[testSuiteStatus] == 0"
      [ngClass]="testSuiteClass.statusCssClass(testSuiteStatus)"
      [style.width]="(100 * testSuiteCountsByStatuses[testSuiteStatus]) / totalTestSuitesCount + '%'"
    >{{ testSuiteCountsByStatuses[testSuiteStatus] }} {{ testSuiteClass.statusName(testSuiteStatus) }}</div>
  </div>
</section>
