@import '../sass/constants';
@import '../sass/mixins';

.test-report {
  margin-top: 32px;

  .name {
    @include ui-element-header-5;
    margin-bottom: 56px;
    @include padding-y(20px);
    border-bottom: 2px solid $white-three;
    line-height: 24px;
    font-weight: 700;
    color: $dark-blue-grey;
  }
}
