@import '../sass/constants';
@import '../sass/mixins';

:host:not(:last-of-type) .test-suite {
  margin-bottom: 16px;
}

:host:first-of-type .test-suite {
  position: relative;
  margin-top: 32px;

  .detail-wrapper .label {
    @include ui-element-subtitle;
    position: absolute;
    bottom: 100%;
    line-height: 32px;
    white-space: nowrap;
    color: $brownish-grey;
  }
}

:host:not(:first-of-type) .test-suite .detail-wrapper .label {
  display: none;
}

.test-suite {
  $border-width: 1px;
  $colored-border-left-width: 8px;
  $status-icon-size: 24px;

  display: flex;
  align-items: center;
  height: 64px;
  border: $border-width solid $white-three;
  border-radius: 8px;
  @include ui-modifier-container-shadow;

  &:before {
    content: '';
    border-left: $colored-border-left-width solid;
    height: 100%;
    @include border-left-radius(8px);
  }

  .status-icon {
    @include size($status-icon-size);
    @include margin-x(16px);
  }

  @mixin test-suite-with-status-class($status-class) {
    $color: '';

    &.#{ $status-class } {
      @if ($status-class == 'inconclusive') {
        $color: $ocean-blue;
      }
      @if ($status-class == 'passed') {
        $color: $green-teal;
      }
      @if ($status-class == 'failed') {
        $color: $vivid-pink;
      }
      @if ($status-class == 'skipped') {
        $color: $warm-grey;
      }

      &:before {
        border-left-color: $color;
      }

      .status-icon:not(.#{ $status-class }) {
        display: none;
      }

      .status-icon ::ng-deep svg {
        fill: $color;
      }
    }
  }

  .detail-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
  }

  .detail-wrapper.device {
    width: 20%;
    min-width: 128px;

    .detail {
      padding-right: 4px;
      color: $dark-blue-grey;

      .name {
        @include ui-element-body;
        @include ellipsis-oneliner;
      }

      .operating-system {
        @include ui-element-description;
        @include ellipsis-oneliner;
      }
    }
  }

  .detail-wrapper.duration {
    min-width: 88px;

    .detail {
      @include ui-element-body;
      @include padding-x(4px);
      color: $dark-blue-grey;
    }
  }

  .detail-wrapper.test-results {
    flex-grow: 1;
    flex-shrink: 5;
    width: 30%;
    min-width: 120px;

    .detail .test-result-bar {
      display: flex;
      @include size(100%, 8px);

      :first-child,
      &:before {
        @include border-left-radius(4px);
      }

      :last-child,
      &:before {
        @include border-right-radius(4px);
      }

      .test-case-bar {
        @include ui-element-subtitle;
        box-sizing: border-box;
        padding-top: 8px;
        @include padding-x(4px);

        &.passed {
          background-color: $green-teal;
          color: $green-teal;
        }

        &.failed {
          background-color: $vivid-pink;
          color: $vivid-pink;
        }
      }
    }
  }

  &.inconclusive .detail-wrapper.test-results .detail .test-result-bar:before,
  &.skipped .detail-wrapper.test-results .detail .test-result-bar:before {
    content: '';
    width: 100%;
  }

  &.inconclusive .detail-wrapper.test-results .detail .test-result-bar:before {
    background-color: $ocean-blue;
  }

  &.skipped .detail-wrapper.test-results .detail .test-result-bar:before {
    background-color: $warm-grey;
  }

  .detail-wrapper.orientation {
    align-items: center;
    min-width: 100px;
    text-align: center;

    .detail {
      &.landscape ::ng-deep svg {
        transform: rotate(-90deg);
      }

      ::ng-deep svg {
        fill: $dark-blue-grey;
      }
    }
  }

  .detail-wrapper.locale {
    align-items: center;
    width: 96px;
    min-width: 0;
    text-align: center;

    .detail {
      @include ui-element-body;
      max-width: 100%;
      box-sizing: border-box;
      @include padding-x(4px);
      @include ellipsis-oneliner;
      color: $dark-blue-grey;
    }
  }

  .test-cases-button {
    @include ui-element-button-secondary;
    flex-shrink: 0;
    display: flex;
    width: 120px;
    margin-right: 16px;

    &:hover {
      @include ui-element-button-secondary-hover;
    }

    .arrow {
      margin-left: 8px;

      ::ng-deep svg {
        display: block;
      }
    }
  }

  @include test-suite-with-status-class(failed);
  @include test-suite-with-status-class(passed);
  @include test-suite-with-status-class(skipped);
  @include test-suite-with-status-class(inconclusive);
}

@include width-max(800px) {
  :host .test-suite .detail-wrapper .label {
    display: none;
  }
}
