<section class="navigation">
  <a [routerLink]="['../../']" class="navigation-button all-devices" queryParamsHandling="merge">
    <span class="arrow" inlineSVG="/assets/images/arrow-quit.svg"></span> <span>All devices</span>
  </a>
  <a
    [routerLink]="['../../testsuite', previousTestSuite.id]"
    queryParamsHandling="merge"
    *ngIf="previousTestSuite"
    class="navigation-button previous-device"
  >
    <span class="arrow" inlineSVG="/assets/images/arrow-dashed-tail-left.svg"></span>
    <span>Previous device</span>
  </a>
  <a [routerLink]="['../../testsuite', nextTestSuite.id]" queryParamsHandling="merge" *ngIf="nextTestSuite" class="navigation-button next-device">
    <span>Next device</span>
    <span class="arrow" inlineSVG="/assets/images/arrow-dashed-tail-right.svg"></span>
  </a>
</section>
<section class="details" *ngIf="testReport && testSuite">
  <div class="name">
    <span *ngIf="testReport.type == TestReportType.uiTest">{{ testSuite.deviceName }}</span>
    <span *ngIf="testReport.type == TestReportType.unitTest">{{ testSuite.suiteName }}</span>
  </div>
  <div class="minor-details">
    <div class="minor-detail duration">
      <span inlineSVG="/assets/images/clock.svg"></span>
      <span class="text">{{ testSuite.durationInMilliseconds | textFromDurationInMilliseconds }}</span>
    </div>
    <div class="minor-detail orientation" *ngIf="testReport.type == TestReportType.uiTest" [ngClass]="testSuite.orientationCssClass">
      <span inlineSVG="/assets/images/mobile.svg"></span>
      <span class="text">{{ testSuite.orientation | titlecase }}</span>
    </div>
    <div class="minor-detail locale" *ngIf="testReport.type == TestReportType.uiTest">
      <span inlineSVG="/assets/images/flag.svg"></span>
      <span class="text">{{ testSuite.locale }}</span>
    </div>
  </div>
</section>
<section class="test-case-rates text-bottom">
  <div
    class="status-rate"
    *ngFor="let testCaseStatus of orderedTestCaseStatuses"
    [hidden]="testCaseCountsByStatuses[testCaseStatus] == 0"
    [ngClass]="TestCase.statusCssClass(testCaseStatus)"
    [style.width]="(100 * testCaseCountsByStatuses[testCaseStatus]) / totalTestCaseCount + '%'"
  >
    {{ testCaseCountsByStatuses[testCaseStatus] }} {{ TestCase.statusName(testCaseStatus) }}
  </div>
</section>
