@import '../../../sass/constants';
@import '../../../sass/mixins';

.heading-text {
  @include ui-element-header-5;
  @include ui-modifier-header-5-underlined-purple-bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3 * $grid-size;
}
