@import '../../../../../sass/constants';
@import '../../../../../sass/mixins';

section.video {
  .content {
    background-color: $black;

    video {
      display: block;
      max-width: 100%;
      max-height: 44 * $grid-size;
      @include margin-x(auto);
      transition: max-height 0.3s;

      &.expanded {
        max-height: 88 * $grid-size;
      }
    }

    .controller {
      position: relative;
      background-color: $brownish-grey;

      button.seek {
        display: block;
        position: absolute;
        bottom: 100%;
        @include size(100%, 3px);
        padding: 0;
        border: none;
        transition: height $default-hovertime;
        background-color: $brownish-grey;
        cursor: pointer;

        span.hovered {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: rgba($white, 0.3);
        }

        span.played {
          position: relative;
          display: block;
          height: 100%;
          background-color: $aqua;
        }

        &:focus {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-focus-ring-color: rgba(0, 0, 0, 0);
          outline: none;
        }
      }

      .menu {
        position: relative;
        display: flex;
        height: 50px;
        align-items: center;

        button.play-pause-toggle,
        a.download,
        button.full-screen-toggle {
          @include padding-x(3 * $grid-size);
        }

        button.play-pause-toggle {
          margin-left: 0;
          margin-right: auto;
          border: none;
          background-color: transparent;
          cursor: pointer;

          &.playing .svg-wrapper.play,
          &:not(.playing) .svg-wrapper.pause {
            display: none;
          }

          .svg-wrapper {
            @include svg-color($white);
          }

          .svg-wrapper ::ng-deep svg {
            transition: fill $default-hovertime;
          }

          &:hover,
          &:focus {
            .svg-wrapper {
              @include svg-color($aqua);
            }
          }

          &:focus {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-focus-ring-color: rgba(0, 0, 0, 0);
            outline: none;
          }
        }

        span.current-time {
          @include ui-element-subtitle;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
        }

        a.download,
        button.full-screen-toggle {
          @include svg-color($white);

          ::ng-deep svg {
            transition: fill $default-hovertime;
          }

          &:hover,
          &:focus {
            @include svg-color($aqua);
          }

          &:focus {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-focus-ring-color: rgba(0, 0, 0, 0);
            outline: none;
          }
        }

        a.download {
          text-align: center;

          svg {
            @include size(9px, 14px);
          }
        }

        button.full-screen-toggle {
          @include margin-x(0);
          border: none;
          background-color: transparent;
          cursor: pointer;
        }

        @include width-max($screen-medium-width) {
          button.play-pause-toggle,
          a.download,
          button.full-screen-toggle {
            height: 4 * $grid-size;
            line-height: 4 * $grid-size;
            @include padding-x($grid-size);
          }
        }
      }
    }

    &:hover .controller button.seek {
      height: $grid-size;
    }
  }
}
