<div class="test-cases">
  <bitrise-heading-text>Test Cases</bitrise-heading-text>
  <ng-container *ngIf="testSuite">
    <virtual-scroller #testCasesScroll
      [items]="testSuite.testCases"
      [parentScroll]="testCasesScroll.window"
      [bufferAmount]="10"
      [childHeight]="80"
      [resizeBypassRefreshThreshold]="20"
      [enableUnequalChildrenSizes]="true">
      <bitrise-test-case
        *ngFor="let testCase of testCasesScroll.viewPortItems; index as caseIndex"
        (toggleSummaryEvent)="updateListHeight(caseIndex)"
        [testCase]="testCase"
        [isNarrow]="true"
      ></bitrise-test-case>
    </virtual-scroller>
  </ng-container>
</div>
