<div class="test-cases">
  <bitrise-heading-text>Test Cases</bitrise-heading-text>
  <ng-container *ngIf="testSuite">
    <virtual-scroller #scroll
      [items]="testSuite.testCases"
      [parentScroll]="scroll.window"
      [enableUnequalChildrenSizes]="true">
      <bitrise-test-case
        *ngFor="let testCase of scroll.viewPortItems; index as caseIndex"
        (toggleSummaryEvent)="updateListHeight(caseIndex)"
        [testCase]="testCase"
        [isNarrow]="true"
      ></bitrise-test-case>
    </virtual-scroller>
  </ng-container>
</div>
