@import "../../sass/constants";
@import "../../sass/mixins";

.app-footer {
  padding-top: 60px;
  padding-bottom: 160px;
  text-align: center;

  .logo {
    margin-bottom: 8px;

    ::ng-deep svg {
      fill: $dark-blue-grey;
    }
  }

  .text {
    @include ui-element-tag;
    color: $dark-blue-grey;
  }
}
