@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/ttnorms/35C30F_7_0.eot");
  src: url("/assets/fonts/ttnorms/35C30F_7_0.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/ttnorms/35C30F_7_0.woff2") format("woff2"),
    url("/assets/fonts/ttnorms/35C30F_7_0.woff") format("woff"),
    url("/assets/fonts/ttnorms/35C30F_7_0.ttf") format("truetype"),
    url("/assets/fonts/ttnorms/35C30F_7_0.svg#wf") format("svg");
  font-weight: 100;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/ttnorms/35C30F_C_0.eot");
  src: url("/assets/fonts/ttnorms/35C30F_C_0.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/ttnorms/35C30F_C_0.woff2") format("woff2"),
    url("/assets/fonts/ttnorms/35C30F_C_0.woff") format("woff"),
    url("/assets/fonts/ttnorms/35C30F_C_0.ttf") format("truetype"),
    url("/assets/fonts/ttnorms/35C30F_C_0.svg#wf") format("svg");
  font-weight: 200;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/ttnorms/35C30F_F_0.eot");
  src: url("/assets/fonts/ttnorms/35C30F_F_0.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/ttnorms/35C30F_F_0.woff2") format("woff2"),
    url("/assets/fonts/ttnorms/35C30F_F_0.woff") format("woff"),
    url("/assets/fonts/ttnorms/35C30F_F_0.ttf") format("truetype"),
    url("/assets/fonts/ttnorms/35C30F_F_0.svg#wf") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/ttnorms/35C30F_D_0.eot");
  src: url("/assets/fonts/ttnorms/35C30F_D_0.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/ttnorms/35C30F_D_0.woff2") format("woff2"),
    url("/assets/fonts/ttnorms/35C30F_D_0.woff") format("woff"),
    url("/assets/fonts/ttnorms/35C30F_D_0.ttf") format("truetype"),
    url("/assets/fonts/ttnorms/35C30F_D_0.svg#wf") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/ttnorms/35C30F_1_0.eot");
  src: url("/assets/fonts/ttnorms/35C30F_1_0.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/ttnorms/35C30F_1_0.woff2") format("woff2"),
    url("/assets/fonts/ttnorms/35C30F_1_0.woff") format("woff"),
    url("/assets/fonts/ttnorms/35C30F_1_0.ttf") format("truetype"),
    url("/assets/fonts/ttnorms/35C30F_1_0.svg#wf") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/ttnorms/35C30F_3_0.eot");
  src: url("/assets/fonts/ttnorms/35C30F_3_0.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/ttnorms/35C30F_3_0.woff2") format("woff2"),
    url("/assets/fonts/ttnorms/35C30F_3_0.woff") format("woff"),
    url("/assets/fonts/ttnorms/35C30F_3_0.ttf") format("truetype"),
    url("/assets/fonts/ttnorms/35C30F_3_0.svg#wf") format("svg");
  font-weight: 900;
}

body {
  margin: 0;
}
