<div class="name">
  <span>Test Artifacts</span>
  <button class="download-all" (click)="downloadAll()">
    <div class="arrow" inlineSVG="/assets/images/download.svg"></div>
    <span>Download All Files</span>
  </button>
</div>
<div class="test-artifacts" *ngIf="testArtifacts">
  <div class="test-artifact" *ngFor="let testArtifact of testArtifacts">
    <div class="filename">{{ testArtifact.filename }}</div>
    <a class="download" href="{{ testArtifact.downloadURL }}" target="_blank">
      <div class="arrow" inlineSVG="/assets/images/download.svg"></div>
      <span>Download</span>
    </a>
  </div>
</div>
