<div class="name">
  <span>Test Artifacts</span>
  <a class="download-all" href="#">
    <div class="arrow" inlineSVG="/assets/images/download.svg"></div>
    <span>Download All Files</span>
  </a>
</div>
<div class="test-artifacts">
  <div class="test-artifact" *ngFor="let testArtifact of testArtifacts">
    <div class="filename">{{ testArtifact.filename }}</div>
    <a class="download">
      <div class="arrow" inlineSVG="/assets/images/download.svg"></div>
      <span>Download</span>
    </a>
  </div>
</div>
